body {
  background-color: #bbbbbb;
  color: #0a0a0a;
  font-size: 25px; }

p {
  color: #bbbbbb;
  background-color: #000;
  text-transform: uppercase;
  font-family: sans-serif; }

nav ul {
  margin: 25px;
  padding: 0px;
  list-style: none; }
  nav ul li {
    display: inline-block;
    background-color: blueviolet; }
    nav ul li a {
      color: #bbbbbb;
      background-color: #000;
      text-transform: uppercase; }
