*{
    color:darkgreen;
    padding:50px;
}

p {
    color:violet;
}

#kasia {
    background-color:gray;
}

div.lorak {
    color: blue;
}

ul a {
    background-color: pink;
}

a>span {
    color:yellow;
}

/* wszyscy potomkowie */
#pierwszy ~ li {
    background-color: orange;
}

/* tylko jeden potomek */
#pierwszy + li {
    background-color: red;
}






