div{
    background-color: black;
    height: 300px;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}

span {
    color: white;
    font-size: 30px;
    transition:all 1s;
    display: inline-block;
}

.animated-words span:nth-child(2) { 
    animation-delay: 1s; 
}
.animated-words span:nth-child(3) { 
    animation-delay: 2s; 
}
.animated-words span:nth-child(4) { 
    animation-delay: 3s; 
}
.animated-words span:nth-child(5) { 
    animation-delay: 4s; 
}
.animated-words span:nth-child(6) { 
    animation-delay: 5s; 
}
.animated-words span:nth-child(7) { 
    animation-delay: 6s; 
}
.animated-words span:nth-child(8) { 
    animation-delay: 7s; 
}
.animated-words span:nth-child(9) { 
    animation-delay: 8s; 
}

.animated-words span:nth-child(10) { 
    animation-delay: 9s; 
}


.animated-words span {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    animation: animateWord 10s  infinite 0s;
}

@keyframes animateWord {
    0% { opacity: 1;}
    10% { opacity: 0;}
    20% { opacity: 0;}
    30% { opacity: 0;}
    40% { opacity: 0;}
    50% { opacity: 0;}
    60% { opacity: 0;}
    70% { opacity: 0;}
    80% { opacity: 0;}
    90% { opacity: 0;}
    100% { opacity: 0;}
}

