*{
    box-sizing: border-box;
}

body{
    background-color: grey;
}
.box{
    font-size:15px;
    width:25%;
    padding: 3-px;
    float:left;
    font-family:sans-serif;
    border: 10px solid green;
}

@media(max-width: 992px){
    .box{
        width:50%;
        background-color: lightseagreen;
        color: white;
        font-size: 13px;
    }
}
@media (min-width: 0px) and  (max-width: 768px){
    .box{
        width:100%;
        background-color: navy;
        color: white;
        border: 1px dashed blue;
    }
}