.box{
    height:120px;
    width:300px;
    border:1px solid blue;
    margin: 50px;
}

#visible{
    overflow: visible;
    color:green;
}

#hidden{
    overflow: hidden;
    color:red;
}

#scroll{
    overflow: scroll;
    color:violet;
}

#auto{
    overflow: auto;
    color:brown;
}