*{
    scroll-behavior: smooth;
}

body{
    /* background-color: aqua; */
    min-height: 400vh;
    transition: all .6s ease-in-out;
}

body.scroll1{
    background-color: cadetblue;
}


body.scroll2{
    background-color: rgb(165, 114, 80);
}

h1{
    transition: all .3s ease;
    position:fixed;
    left:0;
    top:0;
    padding:25px;
    background: red;
    z-index:2;
}

.scroll3{
    background-color:red;
}

.scroll4{
    background-color: blue;
}