*{
    box-sizing: border-box;
    color: #333;
}

body{
    font-family: 'Open Sans', sans-serif;
    color:#777;
    font-size:10px;
    margin: 0 auto;
    padding: 0 px;
}

hr{
    background-color: blue;
    border:0;
    height:1px;
    width:7em;
}

section{
    padding:4em 0px;
    text-align:center;
}

.container{
    max-width: 1180px;
    margin:auto;
}


.title{
    margin-bottom: 6em;
}

.button{
    text-decoration: none;
    text-transform: uppercase;
    border:1px solid blue;
    margin:auto;
    padding:1.5em 2em;
    display: inline-block;
    transition:all 1s;
    font-size:1.5em;
    color: #333;
    background-color: transaparent;
    cursor: pointer;
}

.button:hover{
    background-color: blue;
    color:white;
}

h2{
    color:#333;
    text-transform:uppercase;
    font-size: 2.5em;
}

header{
    height:70vh;
    display:flex;
    background-image: url("../img/header.jpg");
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items:center;
    text-align:center;
}


h1{
    color:rgb(107, 107, 250);
    font-size: 5.5em;
    margin: auto 0;

} 
.claim p{
    font-size: 2.2em;
}

.claim p span{
    color: blue;
}
.nav-menu{
    position:sticky;
    background-color: blue;
    top:0;
    z-index:100;
    height:40px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
}

.menu-item, a {
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1px;
    margin-top: 0.5em;
    font-size:1.3em;
    margin-left: 2em;
    margin-right: 2em;
    cursor: pointer;
}

li {list-style-type: none;}

.text{
    display: flex;
    flex-direction: column;
    flex-basis: 22%;
    justify-content: center;
    align-items:center;
    text-align:center;
    width:70%;
}

.text>p{
    margin-left:30%;
}

/* about */
.about>p{
    font-size: 1.5em;
    line-height: 1.2; 
    /* width:30em;   */
}

#about img{
    margin-top: 3em;
    margin-bottom: 2em;
    max-width: 47em;
    max-height:428em;
    border-radius:50%;
}

#portfolio_container{
    background-color: rgb(192, 192, 192);
    height:90vh;
    display:flex;
    justify-content: center;
    width:100%;
    align-items:center;
    text-align:center;
    flex-direction: column;
    flex-wrap: wrap;
    padding:1em;
}



#photos{
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.2em;
    justify-content: center;
    cursor:pointer;
    width: 800px;
    height: 400px;
}

#photos img{
    /* width:8em; */
    height: 15em;
    flex-basis: 22%;
}


.photos_2 {
    position:relative;
    flex-basis: 23%;
}
.photos_2 img {
    width:100%;
    vertical-align:top;
}
.photos_2:after {
    content:'PORTFOLIO IMAGE''♥' ;
    font-size: 2em;
    display:block;
    color:#fff;
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6); 
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.photos_2:hover:after {
    opacity:1;
}







#contact{
    padding-top:2em;
    padding-bottom:3em;
    height:50vh;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    text-align:center;
    /* background-color: white; */
}

form{
    margin-top:3em;
    margin-bottom: 3em;
}

input,textarea{
    margin-bottom:0.5em;
}


footer{
    height:10vh;
    background-color: rgb(189, 189, 189);
}

footer>p{
    padding-top:2.5em;
    padding-left:40%;
}


.icon{
    height:3em;
    width:3em;
    fill: blue;
}


@media (min-width:792px) and (max-width:852px) {
    #photos img{
        height: 100%;
    }
    .photos_2 {
        position:relative;
        flex-basis: 30%;
    }
}

@media (min-width:1px) and (max-width:791px) {
    #photos img{
        height: 100%;
    }
    .photos_2 {
        position:relative;
        flex-basis: 40%;
        height:10em;
    }
}