label{
    padding:10px;
}
input, select, textarea{
    margin-left:10px;
}

form{
    background-color: rgb(230, 164, 213);
    height:550px;
    width:300px;
}

[type="text"],[type="mail"],[type="tel"],[type="submit"],label{
    /* background-color: hotpink; */
    display: block;
}

[type="radio"],#agreement{
    display: inline;
}

[type="submit"]{
    margin-top: 10px;
}